<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
</head>
<body>
<h1>Create new product</h1>
<form th:action="@{/products/create}" method="post" th:object=${product}>
  <input type="text" id="name" name="name" placeholder="Name..." th:field="*{name}" /></ br>
<input type="text" id="description" name="description" placeholder="Description..." th:field="*{description}" /></ br>
<input type="text" id="codeProduct" name="codeProduct"  placeholder="Code Product..." th:field="*{codeProduct}" /></ br>
<button type="submit">Send</button>
</form>
</body>
</html>